<p class="header-social-links">
  <a href="https://www.youtube.com/channel/UCq0t2ula1dZdI2FEeluvzng/videos" target="_blank">
    <img alt="YouTube" src="{{ MEDIA_URL }}galeries/62/youtube_PNG1.jpg" width="40" height="40">
  </a>
  <a href="https://www.facebook.com/agenceimagiervagabond/" target="_blank">
    <img alt="Facebook" src="{{ MEDIA_URL }}galeries/62/logofacebook.jpg" width="38" height="38">
  </a>
  <a href="https://www.instagram.com/imagiervagabond/" target="_blank">
    <img alt="Instagram" src="{{ MEDIA_URL }}galeries/62/Instagram-logo.jpg" width="38" height="38">
  </a>
  <a href="https://x7s15.mjt.lu/nl2/x7s15/x44r.html?hl=fr" target="_blank">
    <img alt="Newsletter" src="{{ MEDIA_URL }}galeries/62/newsletterV2.jpg" width="38" height="38">
  </a>
</p>
