DEBUG = True

SECRET_KEY = "*****************************************"

DATABASE_NAME = "imagiervagabond_fr_prod"
DATABASE_USER = "imagiervagabond"
DATABASE_PASSWORD = "***********************"
DATABASE_HOST = ""  # Set to empty string for localhost
DATABASE_PORT = ""  # Set to empty string for default

MEDIA_URL = "/media/"
STATIC_URL = "/static/"
